<!DOCTYPE html>
<html>
<head>
  <title>From hyrax</title>
  <%= stylesheet_link_tag    "from_hyrax/application", media: "all" %>
  <%= javascript_include_tag "from_hyrax/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
